.button {
  box-sizing: border-box;
  border-radius: 5px;
  width: 208.5px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 40px;
  padding: 11px 12px;
  cursor: pointer;
}

.primary {
  background: var(--primary-btn-background);
}

.secondary {
  background: var(--secondary-btn-background);
}

.button__text {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25em;
  line-height: 130%;
  color: var(--btn-font-color);
}

.button__sign {
  font-size: 1.4em;
}
