@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

:root {
  --primary--background: #f5f8fd;
  --secondary--background: #ffffff;
  --primary-font: "Oswald";
  --primary-font-color: #1a2328;
  --secondary-font-color: #484f53;
  --tertiary-font-color: #5f6569;
  --quaternary-font-color: #8c9193;
  --btn-font-color: #ffffff;
  --horizontal-padding: 100px;
  --primary-btn-background: #0088da;
  --secondary-btn-background: #bc2626;
}

body,
html,
#root {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}
