.row__fragment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: var(--secondary--background); */
  color: var(--primary-font-color);
  margin-bottom: 2px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 1.05em;
  line-height: 130%;
}

.row__fragment--checkbox {
  border: 1px solid #bac6d8;
  box-sizing: border-box;
  border-radius: 2px;
}

.row__fragment--species {
  font-weight: normal;
  color: var(--tertiary-font-color);
}

@media only screen and (min-width: 1280px) and (max-width: 1599px) {
  .row__fragment {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1279px) {
  .row__fragment {
    font-size: 12.5px;
  }
}
